.nav-container {
    background: #333333;
    color: #FFFFFF;
    height: 167px;
    font-family: 'Poppins', serif;
}

.contact-btn {
    background-color: #DA3559;
    color: #FFFFFF;
}

.header {
    background-image: url('./images/hero-photo.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1440px;

}

.header-footer {
    height: 470px;
    background-color: #333333;
    color: #FFFFFF;

}

.header-footer-text {
    text-align: center;
    width: 1100px;
    height: 290px;
    font-family: 'IBM Plex Serif', serif;
    margin: 0 auto;
    padding-top: 50px;
}

.line {
    width: 246px;
    margin: 0 auto;
    color: #DA3559;
    border: 4px solid;
}

.about-wrapper {
    display: grid;
    width: 1200px;
    height: 460px;
    margin: 0 auto;
}

.about-text {
    grid-column: 1/3;
    grid-row: 1;
    font-family: 'IBM Plex Serif', serif;
    width: 550px;
    height: 366px;
    padding-right: 100px;
}

.about-image {
    grid-column: 2/4;
    grid-row: 1/3;
    background-image: url('./images/office-image.jpg');
    background-size: cover;
}

.about-btn {
    display: flex;
    position: absolute;
    background-color: #DA3559;
    color: #FFFFFF;
}

.quote {
    padding-top: 153px;
    width: 1200px;
    height: 404px;
    font-family: 'IBM Plex Serif', serif;
    margin: 0 auto;
    text-align: center;
}

.learn-more {
    width: 1020px;
    height: 342px;
    margin: 0 auto;
    text-align: center;
}

.learn-btn {
    background-color: #DA3559;
    color: #FFFFFF;
}

.cards {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: grid;
}

.lower-section{
    width: 1440px;
    height: 420px;
    background-color: #333333;
    color: #FFFFFF;
    margin: 0 auto;
}

.footer{
   
    color: #333333;
    text-align: center;
}

.footer-items{
    display: inline;
}

.footer-items-list{
    list-style-type: none;
    text-decoration: none;
    
}

li{
    display: inline;
    
}

a:link{
  text-decoration: none;  
}

.social{
    color:#333333;
    border-radius: 5px;
    border-color: #333333;
    color: #FFFFFF;
}
