@import './variables';

.header {
    background-image: url('../images/hero-photo.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;

    h2 {
        font-size: 65px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: -0.01em;
    }

    p {
        font-family: 'IBM Plex Serif', serif;
        font-size: 32px;
        line-height: 42px;
    }
}

.header-text {
    position: absolute;
    width: 550px;
    height: 225px;
    margin-left: 184px;
    margin-top: 151px;
    font-family: 'Poppins', serif;
    font-weight: 700;
    color: $textColor;
}

.sub-header {
    height: 470px;
    background-color: $bgDark;
    color: $textColor;
    p {
        @include centered('');
        width: 1100px;
        height: 260px;
        font-family: 'IBM Plex Serif', serif;
        font-size: 32px;
        line-height: 52px;
        padding-top: 50px;
    }

    hr {
        width: 246px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        color: #DA3559;
        border-top: 4px solid;
        height: 10px;
    }
}

@media screen and(min-width: $desktop) {
    .header{
        background: url('../images/hero-photo.jpg');
        width: 100%;
        background-size: cover;
        h2{
            width: 50%;
        }
     
    }
}

@media screen and (max-width: $laptop){
    .header{
        h2{
            font-size: 2.87rem;
            width: 50%;
        }
        p{
            font-size: 1.5rem;
            width: 50%;
        }
           
        
    }
    .sub-header p{
        height: 100%;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.1rem;
        overflow: hidden;
        
    }
    
}

@media screen and (max-width: $phone){
    .header{
        h2{
           margin-right: 50%;
            font-size: 1.6rem;
            width: 35%;
        }
        p{
            font-size: 1.2rem;
            width: 30%;
        }
           
        
    }
    .sub-header p{
        height: 100%;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        font-size: .85rem;
        overflow: hidden;

    }
}
