@import './variables';


.container-fluid {
    background: $bgDark;
    color: $textColor;
    height: 167px;
    justify-content: center;
}




nav {
    a {
        &:link {
            padding: 0px;
            color: $textColor;
            font-family: 'Poppins', serif;
            font-weight: 700;
            font-size: 20px;
            margin-top: 50px;
          
        }
    }
}

nav {
    a {
        &:link {
            &:hover {
                text-decoration: underline red;
                color: $textColor;
            }
        }
    }
}

.logo {
    margin-top: 50px;
    margin-left: 65px;
}

.contact-btn {
    background-color: #DA3559;
    color: $textColor
}

@media screen and(max-width: $laptop ){
    .container-fluid{
        width:1024px
        
    }
}

@media screen and (max-width: $phone){
   .container-fluid{
       width: 399px;
   }

.nav {
    a {
        &:link {
            margin: 0px;
            font-size: 10px;
        
          
        }
    }
}
   
}