@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Poppins:wght@400;500;600;700&display=swap');

$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 375px;


$textColor : #FFFFFF;
$bgDark : #333333;



@mixin centered($marginTop) {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: $marginTop
}

@mixin learnMoreBtn {
    background-color: #DA3559;
    color: $textColor;
    font-weight: 700;
    width: 186px;
    height: 58px;

    &:hover {
        background-color: #AE2A47;
    }
}