@import './nav';
@import './header';
@import './about';
@import './variables';
@import './cards';
@import './footer';

body,
html {
    margin: 0px;
    padding: 0px;
    overflow: scroll;
}


.learn-btn {
    @include learnMoreBtn();
}


// -- Misc Styles -- Quote Section & Lower Section //

.quote {
    color: $bgDark;
    text-align: center;
    padding-top: 153px;
    width: 1200px;
    height: 404px;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: 0.01em;
    margin: 0 auto;
    margin-bottom: 150px;

    .signature {
        color: $bgDark;
        font-family: 'IBM Plex Serif';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 52px;
        text-align: center;
        letter-spacing: 0.01em;
    }
}

@media screen and (max-width: $tablet) {
    .quote {
        width: 750px;
        display:flex;
        flex-wrap: wrap;
        font-size: 1.75rem;
       
    }
    
}

.learn-more {
    width: 1020px;
    height: 342px;
    @include centered(0px);
    margin-bottom: 125px;

    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
    }

    h6 {
        font-family: 'Poppins', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
    }

    p {
        font-family: 'IBM Plex Serif', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.01em;
    }
}

@media screen and (max-width: $tablet) {
    .learn-more {
        width: 750px;
        display:flex;
        flex-wrap: wrap;
        margin-bottom:250px;
        
    }
   
    
}

.lower-section {
    width: 100%;
    height: 420px;
    background-color: $bgDark;
    color: $textColor;
    @include centered('');
    padding-top: 70px;

    h2 {
        width: 963px;
        height: 120px;
        font-family: 'Poppins' serif;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        margin: 0 auto;
    }

    p {
        font-family: 'IBM Plex Serif', serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        font-style: normal;
        letter-spacing: -0.01em;
    }
}
@media screen and (max-width: $tablet) {
    .lower-section {
        width: 750px;
        display:flex;
        flex-wrap: wrap;
    
    h2{
        font-size: 2.5rem;
    }
    
}
}
