@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Poppins:wght@400;500;600;700&display=swap");
.container-fluid {
  background: #333333;
  color: #FFFFFF;
  height: 167px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a:link {
  padding: 0px;
  color: #FFFFFF;
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 50px;
}

nav a:link:hover {
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
  color: #FFFFFF;
}

.logo {
  margin-top: 50px;
  margin-left: 65px;
}

.contact-btn {
  background-color: #DA3559;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .container-fluid {
    width: 1024px;
  }
}

@media screen and (max-width: 375px) {
  .container-fluid {
    width: 399px;
  }
  .nav a:link {
    margin: 0px;
    font-size: 10px;
  }
}

.header {
  background-image: url("../images/hero-photo.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
}

.header h2 {
  font-size: 65px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.01em;
}

.header p {
  font-family: 'IBM Plex Serif', serif;
  font-size: 32px;
  line-height: 42px;
}

.header-text {
  position: absolute;
  width: 550px;
  height: 225px;
  margin-left: 184px;
  margin-top: 151px;
  font-family: 'Poppins', serif;
  font-weight: 700;
  color: #FFFFFF;
}

.sub-header {
  height: 470px;
  background-color: #333333;
  color: #FFFFFF;
}

.sub-header p {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: "";
  width: 1100px;
  height: 260px;
  font-family: 'IBM Plex Serif', serif;
  font-size: 32px;
  line-height: 52px;
  padding-top: 50px;
}

.sub-header hr {
  width: 246px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  color: #DA3559;
  border-top: 4px solid;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .header {
    background: url("../images/hero-photo.jpg");
    width: 100%;
    background-size: cover;
  }
  .header h2 {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .header h2 {
    font-size: 2.87rem;
    width: 50%;
  }
  .header p {
    font-size: 1.5rem;
    width: 50%;
  }
  .sub-header p {
    height: 100%;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.1rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 375px) {
  .header h2 {
    margin-right: 50%;
    font-size: 1.6rem;
    width: 35%;
  }
  .header p {
    font-size: 1.2rem;
    width: 30%;
  }
  .sub-header p {
    height: 100%;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: .85rem;
    overflow: hidden;
  }
}

.about-wrapper {
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 1200px;
  height: 460px;
  margin: 0 auto;
  padding-top: 157px;
  margin-bottom: 155px;
}

.about-text {
  font-family: 'IBM Plex Serif', serif;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.01em;
  width: 550px;
  height: 366px;
  padding-right: 96px;
}

.about-text h2 {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.about-image {
  background-image: url("../images/office-image.jpg");
  width: 550px;
  height: 450px;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .about-wrapper {
    margin-bottom: 500px !important;
    height: 700px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 500px auto-fill, 100px;
        grid-template-rows: 500px auto-fill, 100px;
    -ms-grid-columns: 750px 3, 1fr;
        grid-template-columns: 750px 3, 1fr;
    gap: 50px;
  }
  .about-text {
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: "";
    -ms-grid-column: 1;
    grid-column: 1/1;
    margin-left: 8%;
    font-size: 1.75rem;
  }
  .about-text h2 {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: "";
    font-size: 2.87rem;
    width: 50%;
  }
  .about-image {
    width: 750px;
    height: 650px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    margin-bottom: 500px !important;
    height: 700px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 500px auto-fill, 100px;
        grid-template-rows: 500px auto-fill, 100px;
    -ms-grid-columns: 750px 3, 1fr;
        grid-template-columns: 750px 3, 1fr;
    gap: 50px;
  }
  .about-text {
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: "";
    -ms-grid-column: 1;
    grid-column: 1/1;
    margin-left: 5%;
    font-size: 1.75rem;
  }
  .about-text h2 {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: "";
    font-size: 2.87rem;
    width: 50%;
  }
  .about-image {
    width: 750px;
    height: 650px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
}

@media screen and (max-width: 375px) {
  .about-wrapper {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: "";
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 300px auto-fill, 100px;
        grid-template-rows: 300px auto-fill, 100px;
    -ms-grid-columns: 750px 3, 1fr;
        grid-template-columns: 750px 3, 1fr;
    gap: 50px;
  }
  .about-text {
    width: 95%;
    margin-right: 50%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: "";
    -ms-grid-column: 1;
    grid-column: 1/1;
    font-size: 1.5rem;
  }
  .about-text h2 {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: "";
    font-size: 1.87rem;
    width: 50%;
  }
  .about-image {
    margin-top: 200px;
    width: 350px;
    height: 250px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
}

.card-header {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: "";
  font-family: 'Poppins', serif;
  font-size: 50px;
  font-weight: 700;
  color: #333333;
}

.cards {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: "";
}

.cards h1 {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 67px;
  color: #333333;
}

.cards a:link {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 38px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #DA3559;
}

.card {
  padding: 10px;
  margin: 24px;
  height: 644px;
}

.card p:first-child {
  font-family: 'Poppins', serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #333333;
}

.card p:nth-last-child(2) {
  font-family: 'IBM Plex Serif', serif;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #333333;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.footer {
  margin-top: 50px;
  color: #333333;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 50px;
  font-family: 'Poppins', serif;
  font-weight: 700;
}

.footer-items-list a:link {
  color: #333333;
  list-style-type: none;
  text-decoration: none;
}

.footer-items-list a:link:hover {
  -webkit-text-decoration: underline #333333;
          text-decoration: underline #333333;
}

li {
  margin-right: 28px;
  display: inline;
}

.fab {
  margin: 30px;
  padding: 3px;
  margin-bottom: 20px;
  color: #FFFFFF;
  background-color: #DA3559;
  border: solid #DA3559;
  border-radius: 100%;
}

.copywrite {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

body,
html {
  margin: 0px;
  padding: 0px;
  overflow: scroll;
}

.learn-btn {
  background-color: #DA3559;
  color: #FFFFFF;
  font-weight: 700;
  width: 186px;
  height: 58px;
}

.learn-btn:hover {
  background-color: #AE2A47;
}

.quote {
  color: #333333;
  text-align: center;
  padding-top: 153px;
  width: 1200px;
  height: 404px;
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: 0.01em;
  margin: 0 auto;
  margin-bottom: 150px;
}

.quote .signature {
  color: #333333;
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 768px) {
  .quote {
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.75rem;
  }
}

.learn-more {
  width: 1020px;
  height: 342px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 125px;
}

.learn-more h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.learn-more h6 {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.learn-more p {
  font-family: 'IBM Plex Serif', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 768px) {
  .learn-more {
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 250px;
  }
}

.lower-section {
  width: 100%;
  height: 420px;
  background-color: #333333;
  color: #FFFFFF;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: "";
  padding-top: 70px;
}

.lower-section h2 {
  width: 963px;
  height: 120px;
  font-family: 'Poppins' serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin: 0 auto;
}

.lower-section p {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 768px) {
  .lower-section {
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lower-section h2 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */